<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="page.css">
   

</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="img/1-removebg-preview.png" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon" >
            <img src="img/bx-menu.png" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="livescore.html">Livescores</a></li>
            <li><a href="news.html">Breaking News</a></li>
            <li><a href="transfer.html">Tranfers</a></li>
            <li><a href="About.html">About us</a></li>

        </ul>


        
       
    </header>
    <ul class="navbar" id="navbar">
        <li><a href="index.html">Home</a></li>
        <hr>
        <li><a href="livescore.html">Livescores</a></li>
        <hr>
        <li><a href="news.html">Breaking News</a></li>
        <hr>
        <li><a href="transfer.html">Tranfers</a></li>
        <hr>
        <li><a href="About.html">About us</a></li>
        <hr>

</ul>
<!--page header-->

<div class="header">
    <h1>Top story</h1>
</div>

<div class="main">
   
       <h2>UEFA country coefficient: Where Premier League,
         Serie A, La Liga & Bundesliga rank in race for extra Champions League place
       </h2>
   
   <p>
    Two European leagues will receive an additional place apiece in the group stage of the 2023-24
     tournament - and this season's results will be key
   </p>

    <p>
        The Champions League is set to be expanded next season, meaning more teams and more games. Indeed, there will be four additional clubs in the group stage, 
        as the number of participants rises from 32 to 36.
    </p>

<p>One of the additional places will go to the team that finishes third in the domestic league sitting fifth in UEFA's league coefficient rankings (France's Ligue 1 in this instance), which are based on results over five seasons up until the end of the 2022-23 campaign, while another will be taken by
     a domestic champion, with the number teams qualifying via the 'champions path' set to increase from four to five.</p>
 <img src="img/halland.webp" alt="" width="100%">

 <p>
    However, the new 'European Performance Spots' will be awarded to the two leagues with the best results from the previous season's UEFA club competitions.
 </p>




</div>




<!--footer-->
     <footer>
        <p>Sport page &copy; 2024</p>
     </footer>


    


    <script src="index.js"></script>

</body>
</html>