<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="page.css">
   

</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="img/1-removebg-preview.png" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon" >
            <img src="img/bx-menu.png" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="livescore.html">Livescores</a></li>
            <li><a href="news.html">Breaking News</a></li>
            <li><a href="transfer.html">Tranfers</a></li>
            <li><a href="About.html">About us</a></li>

        </ul>


        
       
    </header>
    <ul class="navbar" id="navbar">
        <li><a href="index.html">Home</a></li>
        <hr>
        <li><a href="livescore.html">Livescores</a></li>
        <hr>
        <li><a href="news.html">Breaking News</a></li>
        <hr>
        <li><a href="transfer.html">Tranfers</a></li>
        <hr>
        <li><a href="About.html">About us</a></li>
        <hr>

</ul>
<!--page header-->

<div class="header">
    <h1>Top story</h1>
</div>

<div class="main">
   
       <h2>Jurgen Klopp’s entertainers! Darwin Nunez stunner brings up landmark 
        milestone for Liverpool boss during final season on Merseyside.
       </h2>
   
   <p>
    Since Klopp arrived at Anfield in 2015, Liverpool have been a free-scoring unit, consistently finding the back of the net across competitions. And Thursday evening was no exception as they thrashed Sparta
     Prague 5-1 in a Europa League last-16 encounter.
   </p>

    <p>
        After an early penalty, converted by Alexis Mac Allister, provided the Reds with a slender lead, Nunez showcased his striking prowess with a thunderous long-range effort to score the 1000th goal of the Klopp era in just 476 games. Liverpool have been averaging 2.10 goals per game under Klopp and to
         surpass the 1000-goal mark before his final swansong in the summer will be a special occasion for the German coach.
    </p>

<p>Klopp has been key to bringing out the best from Nunez, with the Uruguayan forward emerging to be instrumental in Liverpool's recent attacking exploits. His clinical finishing was on display once again as he netted his second goal of the game just before halftime in a similar impressive fashion. With a tally of 16 goals and 11 assists this season, Nunez has emerged as a crucial component
     of Liverpool's attacking arsenal, particularly in the absence of star forward Mohamed Salah.</p>
 <img src="img/klop.webp" alt="" width="100%">

 <p>
    Klopp will have little time to celebrate this historic achievement, though, as attention now turns to their upcoming Premier League clash against Manchester City at Anfield on Sunday. With Klopp's side currently leading the title race by a 
    single point, the showdown against their closest rivals holds immense significance in their pursuit of Premier League glory.
 </p>





</div>




<!--footer-->
     <footer>
        <p>Sport page &copy; 2024</p>
     </footer>


    


    <script src="index.js"></script>

</body>
</html>