<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="page.css">
   

</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="img/1-removebg-preview.png" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon" >
            <img src="img/bx-menu.png" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="livescore.html">Livescores</a></li>
            <li><a href="news.html">Breaking News</a></li>
            <li><a href="transfer.html">Tranfers</a></li>
            <li><a href="About.html">About us</a></li>

        </ul>


        
       
    </header>
    <ul class="navbar" id="navbar">
        <li><a href="index.html">Home</a></li>
        <hr>
        <li><a href="livescore.html">Livescores</a></li>
        <hr>
        <li><a href="news.html">Breaking News</a></li>
        <hr>
        <li><a href="transfer.html">Tranfers</a></li>
        <hr>
        <li><a href="About.html">About us</a></li>
        <hr>

</ul>
<!--page header-->

<div class="header">
    <h1>Top story</h1>
</div>

<div class="main">
   
       <h2>
        Inter Miami player ratings vs Nashville SC: Never count out Lionel Messi and Luis Suarez! Barcelona icons save the day in CONCACAF Champions Cup opener
       </h2>
   
   <p>
    The two legends stepped up to complete a two-goal comeback that gave the Herons a huge advantage heading into leg two of their Cup tie. 
   </p>

    <p>
        You just can't fall asleep against this team, can you? Just when you think it's over, just when you think they're dead, Inter Miami somehow find a way. They're talented enough to do that, you know. When you have Lionel
         Messi and Luis Suarez in your team, games can change in just a second or two.
    </p>

<p>Several teams felt that last year. The LA Galaxy experienced it early on in this MLS season. This time around, Nashville SC found themselves
     on the end of a ridiculous Inter Miami comeback, one spearheaded by the two Barcelona icons.</p>
 <img src="img/messi.webp" alt="" width="100%">

 <p>
    For most of Thursday night's CONCACAF Champions Cup clash, it felt like Inter Miami were on the ropes. Nashville were up 2-0 moments into
     the second half and were seemingly cruising. The Herons, though, were down but not out. They're never out of it, really.
 </p>

<p>
    Messi scored first, firing home a Suarez assist in the 52nd minute. And then, five minutes into stoppage time, it was the Uruguayan's turn as he headed home a ridiculous Sergio Busquets cross.  
</p>



</div>




<!--footer-->
     <footer>
        <p>Sport page &copy; 2024</p>
     </footer>


    


    <script src="index.js"></script>

</body>
</html>