{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{% static 'page.css' %}">
   

</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="{% static 'img/1-removebg-preview.png' %}" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon" >
            <img src="{% static 'img/bx-menu.png' %}" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'livescore' %}">Livescores</a></li>
            <li><a href="{% url 'news' %}">Breaking News</a></li>
            <li><a href="{% url 'transfer' %}">Tranfers</a></li>
            <li><a href="{% url 'about' %}">About us</a></li>

        </ul>


        
       
    </header>
    <ul class="navbar" id="navbar">
        <li><a href="{% url 'index' %}">Home</a></li>
        <hr>
        <li><a href="{% url 'livescore' %}">Livescores</a></li>
        <hr>
      
        <li><a href="{% url 'news' %}">Breaking News</a></li>
        <hr>
      
        <li><a href="{% url 'transfer' %}">Tranfers</a></li>
        <hr>
      
        <li><a href="{% url 'about' %}">About us</a></li>
        <hr>


</ul>
<!--page header-->

<div class="header">
    <h1>Top story</h1>
</div>

<div class="main">
   
       <h2>Be careful what you wish for, Chelsea fans: Jose Mourinho's return would only lead to more carnage
       </h2>
   
   <p>
    Some sections of the Blues' support have chanted for 'The Special One's' return, but he's more likely to bring chaos than success
   </p>
   <p>
       Chelsea's manager cut a lonely figure at the Gtech Community Stadium on Saturday as chants of "f*ck off Mauricio" rained down from the away end. The Blues' travelling faithful - who have never warmed to the former Tottenham favourite - made it
        abundantly clear who they want to replace the beleaguered Pochettino, following their obscenities with a chorus of "Jose Mourinho"
   </p>

 
 <img src="{% static 'img/Chelsea_Mourinho_Return.webp' %}" alt="" width="100%">

 <p>
    "It was difficult for me to understand but it’s normal," Pochettino said afterwards, having seen his team salvage a 2-2 draw. "We were losing 2-1 and it’s about expressing their frustration.
     I am responsible as the head coach. I’m not worried. We need to accept this relationship."
  
 </p>

<p>
    The Argentine tactician might not be worried, but in their short time at the helm, Chelsea's owners have shown an alarming willingness to bow to fan pressure, with Graham Potter axed once the supporters began to turn on him less than
     a year ago, despite being backed to oversee a long-term project on numerous occasions by his bosses.
    
</p>



</div>




<!--footer-->
     <footer>
        <p>Sport page &copy; 2024</p>
     </footer>


    


    <script src="{% static 'index.js' %}"></script>

</body>
</html>