<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="page.css">
   

</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="img/1-removebg-preview.png" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon" >
            <img src="img/bx-menu.png" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="livescore.html">Livescores</a></li>
            <li><a href="news.html">Breaking News</a></li>
            <li><a href="transfer.html">Tranfers</a></li>
            <li><a href="About.html">About us</a></li>

        </ul>


        
       
    </header>
    <ul class="navbar" id="navbar">
        <li><a href="index.html">Home</a></li>
        <hr>
        <li><a href="livescore.html">Livescores</a></li>
        <hr>
        <li><a href="news.html">Breaking News</a></li>
        <hr>
        <li><a href="transfer.html">Tranfers</a></li>
        <hr>
        <li><a href="About.html">About us</a></li>
        <hr>

</ul>
<!--page header-->

<div class="header">
    <h1>Top story</h1>
</div>

<div class="main">
   
       <h2>Jamie Carragher branded Sheffield United's first half <br> against Arsenal as a "disgrace" and the worst he had
         ever seen.
       </h2>
   
   <p>
       Title-chasing Arsenal dismantled the rock-bottom Blades at Bramall Lane on Monday Night Football with
         a 6-0 victory,
         scoring five times inside the opening 39 minutes to equal
         the joint-largest leading margin at half-time in a Premier League match.
   </p>

    <p>
        Sheffield United also became the first team in English football history to concede five goals in four
        consecutive home games across all competitions, leaving Carragher scathing of their approach.
        "That first half from Sheffield United was a disgrace," he said. "It's one of the most one-sided games of football I've ever seen.
    </p>

<p>"To consider you come into this game on the back of losing two Premier League home games 5-0, that's shocking - it really is. It's probably one of the worst performances I've ever seen.</p>
 <img src="img/page-2.jpg" alt="" width="100%">

 <p>
     "I can't think of anything worse I've ever seen in a half of football than that.
        "Whatever Chris Wilder decides to do [going forward] he's going to be sat on the bench terrified that he's going to have more games like that.
        "You actually look at Sheffield United and, in some ways, they almost had a better team last season in the Championship.
 </p>

<p>
    "You can talk about Chris Wilder, the players but you can also look at the ownership as well with what happened in the summer losing two of their best players (Sander Berge, Iliman Ndiaye). They were just not equipped for the Premier League.
    
    "I don't think any team whether you're in the Premier League, League Two or the Conference, would expect Arsenal to be 5-0 up at half-time. That's not acceptable."
    
    Sheffield United are 11 points adrift of safety at the bottom of the Premier League
</p>.



</div>




<!--footer-->
     <footer>
        <p>Sport page &copy; 2024</p>
     </footer>


    


    <script src="index.js"></script>

</body>
</html>