<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="page.css">
   

</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="img/1-removebg-preview.png" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon" >
            <img src="img/bx-menu.png" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="livescore.html">Livescores</a></li>
            <li><a href="news.html">Breaking News</a></li>
            <li><a href="transfer.html">Tranfers</a></li>
            <li><a href="About.html">About us</a></li>

        </ul>


        
       
    </header>
    <ul class="navbar" id="navbar">
        <li><a href="index.html">Home</a></li>
        <hr>
        <li><a href="livescore.html">Livescores</a></li>
        <hr>
        <li><a href="news.html">Breaking News</a></li>
        <hr>
        <li><a href="transfer.html">Tranfers</a></li>
        <hr>
        <li><a href="About.html">About us</a></li>
        <hr>

</ul>
<!--page header-->

<div class="header">
    <h1>Top story</h1>
</div>

<div class="main">
   
       <h2>
        Graham Potter, Roberto De Zerbi and the candidates to succeed struggling Erik ten Hag as Man Utd manager - ranked
       </h2>
   
   <p>
    The Dutchman is on borrowed time at Old Trafford after humiliation in the Manchester derby - but who should replace him?
   </p>


    <p>
        Erik ten Hag has done his very best to change things at Manchester United, but after almost two seasons, his team look to be in an even worse state than when he arrived. An excellent first campaign which delivered silverware and a third-placed finish in the Premier League has given way to a harrowing second season, with United falling at the first hurdle in
         the Champions League and effectively surrendering in the fight to finish in the top four, currently languishing in sixth.
        
    </p>

<p>
    The Dutchman has been allowed to spend £464 million ($590m) on transfers, but still has a squad that pales in comparison to the likes of Manchester City, Liverpool and Arsenal, while he
     has failed to instil a style of play which fans can get behind, demonstrated by his alarmingly negative tactics in the Manchester derby.

</p>

 <img src="img/GOAL_-_Multiple_Images_-_3_Stacked_-_Facebook_(24).webp" alt="" width="100%">

 <p>

   Meanwhile, Sir Jim Ratcliffe and his INEOS team have taken control of the club's football operation and are targeting a Premier League title within three years. On current evidence, 
   Ten Hag is not capable of delivering that and it is looking increasingly likely that he will not make it to next season.
 </p>

 
 




</div>




<!--footer-->
     <footer>
        <p>Sport page &copy; 2024</p>
     </footer>


    


    <script src="index.js"></script>

</body>
</html>