

{% load static %}
{% static "img" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{% static 'index.css' %}">
   

</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="{% static 'img/1-removebg-preview.png' %}" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon" >
            <img src="{% static 'img/bx-menu.png' %}" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'livescore' %}">Livescores</a></li>
            <li><a href="{% url 'news' %}">Breaking News</a></li>
            <li><a href="{% url 'transfer' %}">Tranfers</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li>hello,{{user.first_name}}</li>
            <li><a href="accounts/logout">Sign out</a></li>
            {% else %}
            <li><a href="accounts/register">Sign up</a></li>
            <li><a href="accounts/login">Sign in</a></li>
            {% endif %}

        </ul>


        
       
    </header>
    <ul class="navbar" id="navbar">
        <li><a href="{% url 'index' %}">Home</a></li>
        <hr>
        <li><a href="{% url 'livescore' %}">Livescores</a></li>
        <hr>
      
        <li><a href="{% url 'news' %}">Breaking News</a></li>
        <hr>
      
        <li><a href="{% url 'transfer' %}">Tranfers</a></li>
        <hr>
      
        <li><a href="{% url 'about' %}">About</a></li>
        <hr>
        <li><a href="accounts/register">Sign Up</a></li>
        <hr>
        <li><a href="accounts/login">Sign in</a></li>
        <hr>
      

</ul>
<!--page header-->

<div class="header">
    <h1>Top stories</h1>
</div>



<!-- main section -->
<main class="grid">
    <!-- first showcase articles -->
    {% for showcase in showcases %}
    <article class="featured">
        <a href="{% url showcase.urls %}"><img src="{{ showcase.img.url }}" alt=""></a>
        <div class="showcase">
            <a href="{% url showcase.urls %}">
                <h2>{{ showcase.head }}</h2>
            </a>
        </div>
    </article>
    {% endfor %}

    <!--first section articles -->
    {% for article in articles %}
    <article>
        <a href="{% url article.urls %}"><img src="{{ article.img.url }}" alt=""></a>
        <div>
            <a href="{% url article.urls %}">
                <h3>{{ article.head }}</h3>
            </a>
        </div>
    </article>
    {% endfor %}
</main>

{% for showcasea in showcasesa %}
<section class="a">
     <!--Second showcase articles-->
    <article class="root">
        <a href="{% url showcasea.urls %}"><img src="{{ showcasea.img.url }}" alt=""></a>
        <a href="{% url showcasea.urls %}">
            <h3>{{showcasea.head}}</h3>
        </a>
    </article>
</section>
{% endfor %}

<!--last section-->
<div class="wrapper">
    
    <div class="last">

            <!--last section articles-->
            {% for articlea in articlesa %}
        <div class="box">
            <a href="{% url articlea.urls %}"><img src="{{ articlea.img.url }}" ></a>
            <a href="{% url articlea.urls %}">
                <h3>
                    {{articlea.head}}
                </h3>
            </a>
            

        </div>
        {% endfor %}
        
            
        
           

        
           
    </div>
</div>   

<!--footer-->
     <footer>
        <p>Sport page &copy; 2024</p>
     </footer>


    


    <script src="{% static 'index.js' %}"></script>

</body>
</html>