
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'livescore.css' %}">
   

</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="{% static 'img/1-removebg-preview.png' %}" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon" >
            <img src="{% static 'img/bx-menu.png' %}" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'livescore' %}">Livescores</a></li>
            <li><a href="{% url 'news' %}">Breaking News</a></li>
            <li><a href="{% url 'transfer' %}">Tranfers</a></li>
            <li><a href="{% url 'about' %}">About us</a></li>

        </ul>


        
       
    </header>
    <ul class="navbar" id="navbar">
        <li><a href="{% url 'index' %}">Home</a></li>
        <hr>
        <li><a href="{% url 'livescore' %}">Livescores</a></li>
        <hr>
      
        <li><a href="{% url 'news' %}">Breaking News</a></li>
        <hr>
      
        <li><a href="{% url 'transfer' %}">Tranfers</a></li>
        <hr>
      
        <li><a href="{% url 'about' %}">About us</a></li>
        <hr>

</ul>
<!--page header-->

<main>
    <div class="header-2">
        <h2>Today <br>{{ current_date }}</h2>
    </div>
    {% for league in leagues %}
    <div class="premiere">
        <div class="head">
            <img src="{{ league.logo.url }}" alt="" width="150px">
            <h3>{{ league.name }}</h3>
        </div>

        {% for match in league.matches.all %}
        <div class="bottom">
            <p class="time">{{ match.time }}</p>
            <p class="team">{{ match.team1 }} - {{ match.team2 }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}






   
        


    

</main>



<!--footer-->
     <footer>
        <p>Sport page &copy; 2024</p>
     </footer>


    


    <script src="{% static 'index.js' %}"></script>

</body>
</html>