{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="{% static 'img/1-removebg-preview.png' %}" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon">
            <img src="{% static 'img/bx-menu.png' %}" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'livescore' %}">Livescores</a></li>
            <li><a href="{% url 'news' %}">Breaking News</a></li>
            <li><a href="{% url 'transfer' %}">Transfers</a></li>
            <li><a href="{% url 'about' %}">About us</a></li>
        </ul>
    </header>
    
    <ul class="navbar" id="navbar">
        <li><a href="{% url 'index' %}">Home</a></li>
        <hr>
        <li><a href="{% url 'livescore' %}">Livescores</a></li>
        <hr>
        <li><a href="{% url 'news' %}">Breaking News</a></li>
        <hr>
        <li><a href="{% url 'transfer' %}">Transfers</a></li>
        <hr>
        <li><a href="{% url 'about' %}">About us</a></li>
        <hr>
    </ul>

    <!--page header-->
    <div class="header">
        <h1>Breaking News</h1>
    </div>

    <!--main section-->
    <main class="grid">
        <!--article 1-->
        {% for article in articles %}
        <article class="featured">
            <a href="{% url article.urls %}"><img src="{{ article.img.url }}" alt=""></a>
            <div class="showcase">
                <a href="{% url article.urls %}">
                    <h2>{{ article.head }}</h2>
                </a>
            </div>
        </article>
        {% endfor %}

        <!--article 2-->
        {% for articlea in articlesa %}
        <article>
            <a href="{% url articlea.urls %}"><img src="{{ articlea.img.url }}" alt=""></a>
            <div>
                <a href="{% url articlea.urls %}">
                    <h3>{{ articlea.head }}</h3>
                </a>
            </div>
        </article>
        {% endfor %}

    
    </main>

    <section class="a">
        <!--article 5-->
        {% for articleb in articlesb %}
        <article class="root">
            <a href="{% url articleb.urls %}"><img src="{{ articleb.img.url }}" alt=""></a>
            <a href="{% url articleb.urls %}">
                <h3>{{ articleb.head }}</h3>
            </a>
        </article>
        {% endfor %}
    </section>

    <!--last section-->
    <div class="wrapper">
        <div class="last">
            <!--article 6-->
            {% for content in last %}
            <div class="box">
                <a href="{% url content.urls %}"><img src="{{ content.img.url }}" alt=""></a>
                <a href="{% url content.urls %}">
                    <h3>{{ content.head }}</h3>
                </a>
            </div>
            {% endfor %}

          
        </div>
    </div>

    <!--footer-->
    <footer>
        <p>Sport page &copy; 2024</p>
    </footer>

    <script src="{% static 'index.js' %}"></script>
</body>
</html>
