{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="{% static 'img/1-removebg-preview.png' %}" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon">
            <img src="{% static 'img/bx-menu.png' %}" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'livescore' %}">Livescores</a></li>
            <li><a href="{% url 'news' %}">Breaking News</a></li>
            <li><a href="{% url 'transfer' %}">Transfers</a></li>
            <li><a href="{% url 'about' %}">About us</a></li>
        </ul>
    </header>
    
    <ul class="navbar" id="navbar">
        <li><a href="{% url 'index' %}">Home</a></li>
        <hr>
        <li><a href="{% url 'livescore' %}">Livescores</a></li>
        <hr>
        <li><a href="{% url 'news' %}">Breaking News</a></li>
        <hr>
        <li><a href="{% url 'transfer' %}">Transfers</a></li>
        <hr>
        <li><a href="{% url 'about' %}">About us</a></li>
        <hr>
    </ul>

    <!--page header-->
    <div class="header">
        <h1>Breaking News</h1>
    </div>

    <!--main section-->
    <main class="grid">
        <!--article 1-->
        <article class="featured">
            <a href="{% url 'news-article-1' %}"><img src="{% static 'img/squiz.webp' %}" alt=""></a>
            <div class="showcase">
                <a href="{% url 'news-article-1' %}">
                    <h2>Luis Suarez saves the day! Ex-Barcelona star nets last-gasp equalizer in Inter Miami's</h2>
                </a>
            </div>
        </article>

        <!--article 2-->
        <article>
            <a href="{% url 'news-article-2' %}"><img src="{% static 'News-article/img/news-image-1.webp' %}" alt=""></a>
            <div>
                <a href="{% url 'news-article-2' %}">
                    <h3>Brandon Vazquez scores the winner against former club FC Cincinnati!</h3>
                </a>
            </div>
        </article>

        <!--article 3-->
        <article>
            <a href="{% url 'news-article-3' %}"><img src="{% static 'News-article/img/news-image-3.webp' %}" alt=""></a>
            <div>
                <a href="{% url 'news-article-3' %}">
                    <h3>Dazzling Darwin Nunez the star as ruthless Reds put one foot in Europa League quarter</h3>
                </a>
            </div>
        </article>

        <!--article 4-->
        <article>
            <a href="{% url 'news-article-4' %}"><img src="{% static 'News-article/img/news-image-4.webp' %}" alt=""></a>
            <div>
                <a href="{% url 'news-article-4' %}">
                    <h3>Christian Pulisic the menace! USMNT star nets late dagger and draws crucial red card</h3>
                </a>
            </div>
        </article>
    </main>

    <section class="a">
        <!--article 5-->
        <article class="root">
            <a href="{% url 'home-article-5' %}"><img src="{% static 'img/messi.webp' %}" alt=""></a>
            <a href="{% url 'home-article-5' %}">
                <h3>Inter Miami player ratings vs Nashville SC:</h3>
            </a>
        </article>
    </section>

    <!--last section-->
    <div class="wrapper">
        <div class="last">
            <!--article 6-->
            <div class="box">
                <a href="{% url 'home-article-6' %}"><img src="{% static 'img/ronaldo.webp' %}" alt=""></a>
                <a href="{% url 'home-article-6' %}">
                    <h3>Wasteful Cristiano Ronaldo misses several chances</h3>
                </a>
            </div>

            <!--article 7-->
            <div class="box">
                <a href="{% url 'home-article-7' %}"><img src="{% static 'img/klop.webp' %}" alt=""></a>
                <a href="{% url 'home-article-7' %}">
                    <h3>Jurgen Klopp’s entertainers! Darwin Nunez stunner brings up landmark</h3>
                </a>
            </div>

            <!--article 8-->
            <div class="box">
                <a href="{% url 'home-article-8' %}"><img src="{% static 'img/halland.webp' %}" alt=""></a>
                <a href="{% url 'home-article-8' %}">
                    <h3>Where Premier League, Serie A, La Liga & Bundesliga rank in race.</h3>
                </a>
            </div>

            <!--article 9-->
            <div class="box">
                <a href="{% url 'news-article-9' %}"><img src="{% static 'News-article/img/news-image-9.webp' %}" alt=""></a>
                <a href="{% url 'news-article-9' %}">
                    <h3>Chelsea get their revenge on Man City!</h3>
                </a>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer>
        <p>Sport page &copy; 2024</p>
    </footer>

    <script src="{% static 'index.js' %}"></script>
</body>
</html>
