<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="index.css">
   

</head>
<body>
    <!--navbar-->
    <header>
        <div class="logo">
            <img src="img/1-removebg-preview.png" alt="">
            <h2>sport page</h2>
        </div>
        
        <div class="menu" id="menu-icon" >
            <img src="img/bx-menu.png" alt="" id="menu-icon">
        </div>
        
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="livescore.html">Livescores</a></li>
            <li><a href="news.html">Breaking News</a></li>
            <li><a href="transfer.html">Tranfers</a></li>
            <li><a href="About.html">About us</a></li>

        </ul>


        
       
    </header>
    <ul class="navbar" id="navbar">
        <li><a href="index.html">Home</a></li>
        <hr>
        <li><a href="livescore.html">Livescores</a></li>
        <hr>
      
        <li><a href="news.html">Breaking News</a></li>
        <hr>
      
        <li><a href="transfer.html">Tranfers</a></li>
        <hr>
      
        <li><a href="About.html">About us</a></li>
        <hr>
      

</ul>
<!--page header-->

<div class="header">
    <h1>Tranfers</h1>
</div>


<!---main section-->
<main class="grid">
    <!--article 1-->
    <article class="featured">
        
            <a href="tranfers-article/tranfer-article-1.html"><img src="tranfers-article/img/tranfer-image-1.webp" alt=""></a>
            <div class="showcase">
                <a href="tranfers-article/tranfer-article-1.html">
                    <h2> Liverpool & Mancity tracking  Pedro Neto on £60 million
                    </h2>
                </a>
                
            </div>
        
    </article>
    <!--article 2-->


    <article>
        <a href="tranfers-article/tranfer-article-2.html"><img src="tranfers-article/img/tranfer-image-2.webp" alt=""></a>
        <div>
            <a href="tranfers-article/tranfer-article-2.html">
                <h3>Paris Saint-Germain boss Luis Enrique seemed to confirm Kylian Mbappe's imminent departure</h3>
            </a>
        </div>
    </article>
    <!--article 3-->
    <article>
        <a href="tranfers-article/tranfer-article-3.html"><img src="tranfers-article/img/tranfer-image-3.webp" alt=""></a>
        <div>
            <a href="tranfers-article/tranfer-article-3.html">
                <h3>Mohamed Salah admits he will leave Liverpool one day</h3>
            </a>
        </div>
    </article>
    <!--article 4-->

    <article>
        <a href="tranfers-article/tranfer-article-4.html"><img src="tranfers-article/img/tranfer-image-4.webp" alt=""></a>
        <div>
            <a href="tranfers-article/tranfer-article-4.html">
                <h3>Lukaku kept Liverpool from making Man City star Jeremy Doku </h3>
            </a>
        </div>
    </article>

   
  

    


</main>

<section class="a">
     <!--article 5-->
    <article class="root">
        <a href="tranfers-article/tranfer-article-5.html"><img src="tranfers-article/img/tranfer-image-5.webp" alt=""></a>
        <a href="tranfers-article/tranfer-article-5.html">
            <h3>Paris Saint-Germain are plotting an ambitious €200m offer for Barcelona youngster Lamine Yamal</h3>
        </a>
    </article>
</section>


<!--last section-->
<div class="wrapper">
    <div class="last">
            <!--article 6-->
        <div class="box">
            <a href="tranfers-article/tranfer-article-6.html"><img src="tranfers-article/img/tranfer-image-8.webp" alt=""></a>
            <a href="tranfers-article/tranfer-article-6.html">
                <h3>
                    Erling Haaland will reportedly demand a release clause 
                </h3>
            </a>

        </div>
            <!--article 7-->

        <div class="box">
            <a href="tranfers-article/tranfer-article-7.html"><img src="tranfers-article/img/transfer-image-7.webp" alt=""></a>
            <a href="tranfers-article/tranfer-article-7.html">
                <h3>American defender Sergino Dest, who has played a crucial role for PSV this season
                </h3>
            </a>

        </div>
            <!--article 8-->

        <div class="box">
            <a href="tranfers-article/tranfer-article-8.html"><img src="tranfers-article/img/tranfer-image-9.webp" alt=""></a>
            <a href="tranfers-article/tranfer-article-8.html">
                <h3>Why Man City are relieved Kylian Mbappe is leaving PSG for Real Madrid
                </h3>
            </a>

        </div>

            <!--article 9-->

            <div class="box">
                <a href="tranfers-article/tranfer-article-9.html"><img src="tranfers-article/img/tranfer-image-10.webp" alt=""></a>
                <a href="tranfers-article/tranfer-article-9.html">
                    <h3>Harry Kane backed for Premier League return from Bayern Munich
                    </h3>
                </a>
    
            </div>
           
    </div>
</div>   

<!--footer-->
     <footer>
        <p>Sport page &copy; 2024</p>
     </footer>


    


    <script src="index.js"></script>

</body>
</html>